@import "tailwindcss";
@plugin "daisyui";


.font-passero {
  font-family: var(--font-passero);
}

.inter {
    font-family: var(--font-inter);
}

.btns {
  background-color: #2563eb; /* blue-600 */
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem; 
  font-weight: 600; 
  transition: background-color 0.2s ease; 
}

.btns:hover {
  background-color: #1d4ed8; /* blue-700 */
}

.small-btn {
  background-color: #2563eb; /* blue-600 */
  color: #ffffff;
  padding: 0.50rem 1.2rem;
  border-radius: 0.55rem; 
  font-weight: 500; 
  transition: background-color 0.2s ease; 
}

.small-btn:hover {
  background-color: #1d4ed8; /* blue-700 */
}