@import "tailwindcss";
@plugin "daisyui";


.font-passero {
  font-family: var(--font-passero);
}

.inter {
    font-family: var(--font-inter);
}

/* shared */
.btns,
.border-btn,
.small-btn,
.not-allowed-btn {
  transition-property: transform, background-color, color, border-color;
  transition-duration: 200ms;
}

.btns:hover,
.border-btn:hover,
.small-btn:hover {
  transform: scale(1.02);
}

.btns:active,
.border-btn:active,
.small-btn:active {
  transform: scale(0.95);
}

.not-allowed-btn:hover,
.not-allowed-btn:active {
  transform: none;
}

.btns {
  background-color: #2563eb; /* blue-600 */
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem; 
  font-weight: 600; 
}

.btns:hover {
  background-color: #1d4ed8; /* blue-700 */
}

.border-btn {
  border: 2px solid #2563eb; /* blue-600 */
  color: #3b82f6; /* text-blue-500 */
  padding: 0.65rem 1.5rem;
  border-radius: 0.75rem; 
  font-weight: 600;
  background-color: transparent;
}

.border-btn:hover {
  background-color: #2563eb; /* blue-600 */
  color: #ffffff;
}

.small-btn {
  background-color: #2563eb; /* blue-600 */
  color: #ffffff;
  padding: 0.50rem 1.2rem;
  border-radius: 0.55rem; 
  font-weight: 500; 
}

.small-btn:hover {
  background-color: #1d4ed8; /* blue-700 */
}

.not-allowed-btn {
  background-color: #bbbbbd;
  border: 2px solid gray;
  color: black;
  padding: 0.65rem 1.5rem;
  border-radius: 0.75rem; 
  font-weight: 600;
  background-color: transparent;
}